body{
font-family:Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#111;
color:white;
padding:15px;
}

.container{
width:90%;
margin:auto;
display:flex;
justify-content:space-between;
align-items:center;
}

nav ul{
list-style:none;
display:flex;
gap:20px;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
text-align:center;
padding:100px 20px;
background:#ddd;
}

.hero button{
padding:10px 20px;
border:none;
background:black;
color:white;
cursor:pointer;
}

.gallery{
text-align:center;
padding:40px;
}

.grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
width:60%;
margin:auto;
}

.grid img{
width:100%;
border-radius:8px;
}

footer{
background:#111;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}
