body{
font-family:Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#111;
color:white;
padding:15px;
position:sticky;
top:0;
}

.container{
width:90%;
margin:auto;
display:flex;
justify-content:space-between;
align-items:center;
}

nav ul{
list-style:none;
display:flex;
gap:20px;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
text-align:center;
padding:100px 20px;
background:#ddd;
}

.hero button{
padding:10px 20px;
border:none;
background:black;
color:white;
cursor:pointer;
}

.about{
padding:60px;
text-align:center;
}

.about-container{
display:flex;
align-items:center;
gap:30px;
justify-content:center;
}

.about img{
width:300px;
border-radius:8px;
}

.gallery{
text-align:center;
padding:60px;
}

.grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
width:60%;
margin:auto;
}

.grid img{
width:100%;
border-radius:8px;
}

.contact{
text-align:center;
padding:60px;
}

form{
display:flex;
flex-direction:column;
gap:10px;
width:300px;
margin:auto;
}

input, textarea{
padding:10px;
}

button{
padding:10px;
background:black;
color:white;
border:none;
cursor:pointer;
}

footer{
background:#111;
color:white;
text-align:center;
padding:20px;
}
